@model TeamLegend.Web.Areas.Administration.Models.Teams.TeamCreateInputModel

@inject IPlayersService playersService;
@inject IManagersService managersService;
@inject ICloudinaryService cloudinaryService;
@{
    var players = await this.playersService.GetAllAsync();
    players = players.Where(p => p.CurrentTeam == null).ToList();

    var managers = await this.managersService.GetAllAsync();
    managers = managers.Where(m => m.TeamId == null).ToList();
    ViewData["Title"] = "Create a Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr class="teamLegend-line" />

    <div class="jumbotron">
        <form asp-area="Administration" asp-controller="Teams" asp-action="Create" method="post" enctype="multipart/form-data">
            @if (this.TempData["Error"] != null)
            {
                <h5 class="text-danger">@this.TempData["Error"]</h5>
            }
            <div class="row justify-content-around">
                <div class="col-md-6">
                    <div class="col-md-10">
                        <h4 class="text-center">Required fields</h4>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label> <span class="required-field">&#42;</span>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10">
                        <h4 class="text-center">Optional fields</h4>
                        <div class="form-group">
                            <label asp-for="Nickname" class="control-label"></label>
                            <input asp-for="Nickname" class="form-control" />
                            <span asp-validation-for="Nickname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DateOfFoundation" class="control-label"></label>
                            <input asp-for="DateOfFoundation" class="form-control" />
                            <span asp-validation-for="DateOfFoundation" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SquadPlayers" class="control-label"></label>
                            <select multiple class="dropdown-select form-control" asp-for="SquadPlayers" id="selectedPlayers">
                                <option disabled class="dropdown-select">Select Players</option>
                                @foreach (var player in players)
                                {
                                    <option value="@player.Id" class="dropdown-select" data-content="<img src='@this.cloudinaryService.BuildPlayerPictureUrl(player.Name, player.PlayerPictureVersion)' style='height: 30px' /> @player.Name"></option>
                                }
                            </select>
                            <span asp-validation-for="SquadPlayers" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ManagerId" class="control-label"></label>
                            <select class="dropdown-select form-control" asp-for="ManagerId">
                                <option disabled selected="selected" class="dropdown-select">Select a Manager</option>
                                @foreach (var manager in managers)
                                {
                                    <option value="@manager.Id" class="dropdown-select" data-content="<img src='@this.cloudinaryService.BuildManagerPictureUrl(manager.Name, manager.ManagerPictureVersion)' style='height: 25px; width: 25px' /> @manager.Name"></option>
                                }
                            </select>
                            <span asp-validation-for="ManagerId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Badge" class="control-label">Team Badge: </label>
                            <input asp-for="Badge" />
                            <span asp-validation-for="Badge" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-teamLegend text-center col-md-3 col-sm-12" id="createButton">Create</button>
            </div>
        </form>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('select').selectpicker();
    </script>
}
