@model TeamLegend.Web.Areas.Administration.Models.Teams.TeamPlayersCollectionViewModel
@{
    ViewData["Title"] = "SquadList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["TeamId"] = Model.Team.Id;
}

<h2 id="teamName">@Model.Team.Name</h2>
<h3>Add Players</h3>

<div class="row">
    <div class="col-md-6">
        <h3>Squad</h3>
        <div id="squad">
            @foreach (var player in Model.Squad.Players)
            {
                <div>
                    <img src="@player.PlayerPictureUrl" style="height: 40px" />
                    <a asp-area="" asp-controller="Players" asp-action="Details" asp-route-id="@player.Id">@player.Name</a>
                </div>
            }
        </div>
    </div>
    <div class="col-md-6">
        <h3>Unemployed Players</h3>
        <form asp-area="Administration" asp-controller="Teams" asp-action="AddPlayers">

            <select multiple class="dropdown" searchable="Search..." asp-for="NewPlayers" id="selectedPlayers">
                <option disabled>Select Players</option>
                @foreach (var player in Model.Unemployed.Players)
                {
                    <option value="@player.Id" data-content="<img src='@player.PlayerPictureUrl' style='height: 30px' /> @player.Name"></option>
                }
            </select>

            <button type="submit" class="btn"  id="AddPlayersForm">Add players</button>

        </form>
    </div>
</div>

@section Scripts{
    <script>
        //$("#AddToSquad").click(function () {
        //    var teamName = $("#teamName").val();
        //    var playerName = $("#player a").val();
        //    $.ajax({
        //        type: "POST",
        //        url: "/Administration/Teams/AddPlayers",
        //        data: { teamName: teamName, playerName: playerName },
        //        success: function (data) {
        //            $("#player").appendTo("#squad");
        //        }
        //    });
        //});
        $('select').selectpicker();
    </script>
    @*<script>
        $('#addPlayersForm').click(function () {
            var players = $('#selectedPlayers :selected').text();
            alert(players);
            //$.ajax({
            //    type: "POST",
            //    url: "/Administration/Teams/AddPlayers",
            //    data: { players: players }
            //})
            //    .done(function () {
            //        location.reload();
            //    });
        })
    </script>*@
}