@model TeamLegend.Web.Areas.Administration.Models.Leagues.LeagueTeamsCollectionViewModel

@{
    ViewData["Title"] = "TeamsList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    this.TempData["LeagueId"] = Model.League.Id;
}

<h2>TeamsList</h2>

<div>
    <h4>LeagueTeamsCollectionViewModel</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <h3>Teams in the League</h3>
            <div id="participatingTeams">
                @foreach (var team in Model.ParticipatingTeams.Teams)
                {
                    <div>
                        <img src="@team.BadgeUrl" style="height: 40px" />
                        <a asp-area="" asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id">@team.Name</a>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6">
            <h3>Teams with no League</h3>
            <form asp-area="Administration" asp-controller="Leagues" asp-action="AddTeams">

                <select multiple class="dropdown" asp-for="NewTeamsToLeague">
                    <option disabled>Select Teams</option>
                    @foreach (var team in Model.TeamsWithNoLeague.Teams)
                    {
                        <option value="@team.Id" data-content="<img src='@team.BadgeUrl' style='height: 30px' /> @team.Name"></option>
                    }
                </select>

                <button type="submit" class="btn">Add Teams</button>

            </form>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $('select').selectpicker();
    </script>
}