@model TeamLegend.Web.Areas.Administration.Models.Leagues.LeagueTeamsCollectionViewModel

@{
    ViewData["Title"] = "Teams List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var participatingTeams = Model.ParticipatingTeams.Teams.OrderByDescending(t => t.TotalPoints).ToList();
}

<main>
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr class="teamLegend-line" />

    <div class="jumbotron">
        <div class="row justify-content-around">
            <div class="col-md-4">
                <div class="col-md-10">
                    <h4 class="text-center">Teams in the League</h4>
                    <div class="text-left" id="participatingTeams">
                        <ol class="list-group">
                            @foreach (var team in participatingTeams)
                            {
                                <li class="list-group-item" id="team-list-item">
                                    <img src="@team.BadgeUrl" style="height: 40px" />
                                    <a asp-area="" asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id">@team.Name</a>
                                </li>
                            }
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center text-bold">
                <h2>@Model.League.Name</h2>
            </div>
            <div class="col-md-4 text-center">
                <h4>Teams with no League</h4>
                <form asp-area="Administration" asp-controller="Leagues" asp-action="AddTeams">

                    <select multiple class="col-md-10" asp-for="NewTeamsToLeague">
                        <option disabled class="dropdown-select">Select Teams</option>
                        @foreach (var team in Model.TeamsWithNoLeague.Teams)
                        {
                            <option value="@team.Id" class="dropdown-select" data-content="<img src='@team.BadgeUrl' style='height: 25px' /> @team.Name"></option>
                        }
                    </select>
                    <input type="hidden" asp-for="League.Id" value="@Model.League.Id" />
                    <div class="button-holder d-flex justify-content-center">
                        <button type="submit" class="btn btn-teamLegend text-center col-md-9 col-sm-12" id="createButton">Add Teams</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script>
        $('select').selectpicker();
    </script>
}