@model TeamLegend.Web.Models.Players.PlayerDetailsViewModel

@{
    ViewData["Title"] = "Player Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mt-3">
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <hr class="teamLegend-line" />
    <div class="jumbotron">
        <h2 class="text-center">@Model.Name</h2>

        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <h3>Date of Birth: @Model.DateOfBirth.ToShortDateString() (@Model.Age age)</h3>

                        <h3>Nationality: @Model.Nationality</h3>
                        <h3>Playing Position: @Html.DisplayFor(model => model.PlayingPosition)</h3>
                        <h3>Appearances: @Model.Appearances</h3>
                        <h3>Goals Scored: @Model.GoalsScored</h3>

                        @if (Model.CurrentTeam != null)
                        {
                            <h3>Current Team: <a asp-controller="Teams" asp-action="Details" asp-route-id="@Model.CurrentTeam.Id">@Model.CurrentTeam.Name</a></h3>
                        }
                        else
                        {
                            <h3>Current Team: Does not have a team.</h3>
                        }

                        @if (this.User.IsInRole(GlobalConstants.AdminRole))
                        {
                            <a class="btn btn-teamLegend" id="adminButton" asp-area="Administration" asp-controller="Players" asp-action="Delete" asp-route-id="@Model.Id">Delete Player</a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="@Model.PlayerPictureUrl" class="img-fluid" style="width: 500px" />
            </div>
        </div>
    </div>
</main>