@model TeamLegend.Web.Models.Players.PlayerDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PlayerDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayingPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayingPosition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoalsScored)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoalsScored)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentTeam)
        </dt>
        <dd>
            @if (Model.CurrentTeam != null)
            {
                <a asp-controller="Teams" asp-action="Details" asp-route-id="@Model.CurrentTeam.Id">@Model.CurrentTeam.Name</a>
            }
            else
            {
                <h4>Does not have a team.</h4>
            }
            </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerPictureUrl)
        </dt>
        <dd>
            <img src="@Model.PlayerPictureUrl" />
        </dd>
    </dl>
    <a asp-area="Administration" asp-controller="Players" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
