@model TeamLegend.Web.Models.Leagues.LeagueAllViewModel

@{
    ViewData["Title"] = "All Leagues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr class="teamLegend-line" />
    <div class="container-fluid">
        <div class="row d-flex justify-content-between">
            @foreach (var league in Model.Leagues)
            {
                <div class="league m-3 col-md-3 col-sm-6">
                    <a class="text-center" id="leagueNameLink" asp-controller="Leagues" asp-action="Details" asp-route-id="@league.Id">
                        <h3>@league.Name</h3>
                    </a>
                    <hr class="teamLegend-line" />
                    <h5>Country: @league.Country</h5>
                    <h5>Teams: @league.NumberOfTeams</h5>
                </div>
            }
        </div>
    </div>
</main>
