@model TeamLegend.Web.Models.Leagues.LeagueAllViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All</h2>

<div>
    <h4>LeagueAllViewModel</h4>
    <hr />
    <div>
        @foreach (var league in Model.Leagues)
        {
            <a asp-controller="Leagues" asp-action="Details" asp-route-id="@league.Id">
                <h2>@league.Name</h2>
                <h2>@league.Country</h2>
                <h2>@league.NumberOfTeams</h2>
            </a>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
