@model TeamLegend.Web.Models.Leagues.LeagueDetailsViewModel

@{
    ViewData["Title"] = "League Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mt-3">
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <hr class="teamLegend-line" />
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-7 text-right">
                <h2>'@Model.Name' (@Model.Country)</h2>
                @if (this.TempData["Error"] != null)
                {
                    <h5 class="text-danger">@this.TempData["Error"]</h5>
                }
                @if (this.ViewData["FixturesError"] != null)
                {
                    <h5 class="text-danger">@this.ViewData["FixturesError"]</h5>
                }
            </div>
            <div class="col-md-5 text-right">
                <partial name="Leagues/_LeagueDetailsDropdownPartial" model="@Model.Id" />
            </div>
        </div>
        <div class="table-responsive">
            <partial name="Leagues/_LeagueDetailsPartial" model="Model.Teams" />
        </div>
    </div>
</main>
