@model TeamLegend.Web.Models.Leagues.LeagueDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LeagueDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTeams)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfTeams)
        </dd>
    </dl>
    <a asp-area="Administration" asp-controller="Leagues" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <a asp-area="Administration" asp-controller="Leagues" asp-action="TeamsList" asp-route-id="@Model.Id">Participating Teams</a>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
