@model TeamLegend.Web.Areas.Administration.Models.Players.PlayerDeleteViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlayerDeleteViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayingPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayingPosition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoalsScored)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoalsScored)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentTeamName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentTeamName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerPictureUrl)
        </dt>
        <dd>
            <img src="@Model.PlayerPictureUrl" />
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-id="@Model.Id">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
