@model TeamLegend.Web.Models.Teams.TeamDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TeamDetailsViewModel</h4>
    <hr />
    @if (this.ViewData["Error"] != null)
    {
        <h4 class="text-danger">@this.ViewData["Error"]</h4>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BadgeUrl)
        </dt>
        <dd>
            <img src="@Model.BadgeUrl" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd>
            @if (Model.Manager != null)
            {
                <a asp-controller="Managers" asp-action="Details" asp-route-id="@Model.Manager.Id">@Model.Manager.Name</a>
            }
            else
            {
                <h4>Does not have a manager.</h4>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stadium)
        </dt>
        <dd>
            @if (Model.Stadium != null)
            {
                <a asp-controller="Stadiums" asp-action="Details" asp-route-id="@Model.Stadium.Id">@Model.Stadium.Name</a>
            }
            else
            {
                <h4>Does not have a stadium.</h4>
            }
            </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOfFoundation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearOfFoundation)
        </dd>
    </dl>
    @if (this.User.IsInRole("Admin"))
    {
        <a asp-area="Administration" asp-controller="Teams" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-area="Administration" asp-controller="Teams" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        <a asp-area="Administration" asp-controller="Teams" asp-action="SetStadium" asp-route-teamId="@Model.Id">Set a Stadium</a>
        <a asp-area="Administration" asp-controller="Teams" asp-action="SquadList" asp-route-teamId="@Model.Id">Players</a>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
