@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<main>
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr class="teamLegend-line" />

    <div class="jumbotron">
        <div class="row text-center justify-content-around">
            <div class="col-md-5">
                <form method="post">
                    <h3>Enter your account data</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-left">
                        <label asp-for="Input.Username"></label> <span class="required-field">&#42;</span>
                        <input asp-for="Input.Username" class="form-control" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <label asp-for="Input.Password"></label> <span class="required-field">&#42;</span>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="rememberMe">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-teamLegend col-md-12" id="loginButton">Log in</button>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-teamLegend col-md-12" id="loginButton">Register if you are new</a>
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-md-offset-2">
                    <section>
                        <h4>Use another service to log in.</h4>
                        <hr />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button type="submit" class="btn btn-@provider.Name col-md-12" name="provider" id="socialButton" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-@provider.Name.ToLower()"></i> @provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                </div>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
