@model TeamLegend.Web.Models.Home.FixtureMatchesCollectionViewModel

@{
    ViewData["Title"] = "Fixture Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mt-3">
    <h1 class="text-center">@Model.League.Name</h1>
    <h4 class="text-center">
        Matchday &#8470; <select asp-for="FixtureRound" style="font-size: large" id="round">
            @foreach (var fixture in Model.Fixtures)
            {
                <option value="@fixture">@fixture</option>
            }
        </select>
        <input type="hidden" value="@Model.League.Id" id="leagueId" />
    </h4>
    <hr class="teamLegend-line" />
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-7 text-right">
                @if (this.TempData["Error"] != null)
                {
                    <h5 class="text-danger">@this.TempData["Error"]</h5>
                }
            </div>
        </div>
        <div class="table-responsive">
            <table class="table w-75 mx-auto table-hover table-bordered table-sm text-center">
                <tbody class="text-bold text-center">
                    @if (this.User.IsInRole(GlobalConstants.AdminRole))
                    {
                        @foreach (var match in Model.FixtureMatches)
                        {
                           <partial name="Matches/_AdminFixtureMatchPartial" model="match" />
                        }
                    }
                    else
                    {
                        @foreach (var match in Model.FixtureMatches)
                        {
                            <partial name="Matches/_FixtureMatchPartial" model="match" />
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>

@section Scripts {
    <script>
        $('#round').change(function () {
            var round = $(this).val();
            var leagueId = $('#leagueId').val();
            url = "/Fixtures/Details?leagueId=" + leagueId + "&round=" + round;
            $(location).attr("href", url);
        });
    </script>
}