@model TeamLegend.Web.Models.Home.FixtureMatchesCollectionViewModel

@inject ICloudinaryService cloudinaryService
@{
    ViewData["Title"] = "Fixture Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mt-3">
    <h1 class="text-center">@Model.League.Name</h1>
    <h4 class="text-center">
        Matchday &#8470; <select asp-for="FixtureRound" style="font-size: large" id="round">
            @foreach (var fixture in Model.Fixtures)
            {
                <option value="@fixture">@fixture</option>
            }
        </select>
    </h4>
    <hr class="teamLegend-line" />
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-7 text-right">
                @if (this.TempData["Error"] != null)
                {
                    <h5 class="text-danger">@this.TempData["Error"]</h5>
                }
            </div>
        </div>
        <div class="table-responsive">
            <table class="table w-75 mx-auto table-hover table-bordered table-sm text-center">
                <tbody class="text-bold text-center">
                    @if (this.User.IsInRole("Admin"))
                    {
                        @foreach (var match in Model.FixtureMatches)
                        {
                            <tr class="row">
                                @{
                                    var homeTeam = match.HomeTeam;
                                    var awayTeam = match.AwayTeam;
                                    var homeTeamBadgeUrl = this.cloudinaryService.BuildTeamBadgePictureUrl(homeTeam.Name, homeTeam.BadgeVersion);
                                    var awayTeamBadgeUrl = this.cloudinaryService.BuildTeamBadgePictureUrl(awayTeam.Name, awayTeam.BadgeVersion);
                                }
                                <td class="col-md-9">
                                    @if (match.IsPlayed)
                                    {
                                        <div class="row d-flex align-items-center">
                                            <div class="col-md-4 text-right">@homeTeam.Name</div>
                                            <div class="col-md-1 text-center"><img src="@homeTeamBadgeUrl" id="fixtureTeamImg" /></div>
                                            <div class="col-md-1">@match.HomeTeamGoals : @match.AwayTeamGoals</div>
                                            <div class="col-md-1 text-center"><img src="@awayTeamBadgeUrl" id="fixtureTeamImg" /></div>
                                            <div class="col-md-4 text-left">@awayTeam.Name</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row d-flex align-items-center">
                                            <div class="col-md-4 text-right">@homeTeam.Name</div>
                                            <div class="col-md-1 text-center"><img src="@homeTeamBadgeUrl" id="fixtureTeamImg" /></div>
                                            <div class="col-md-1">&ndash; : &ndash;</div>
                                            <div class="col-md-1 text-center"><img src="@awayTeamBadgeUrl" id="fixtureTeamImg" /></div>
                                            <div class="col-md-4 text-left">@awayTeam.Name</div>
                                        </div>
                                    }
                                </td>
                                <td class="col-md-1">@match.Date.ToShortDateString()</td>
                                <td class="col-md-2">
                                    @if (match.IsPlayed)
                                    {
                                        <button class="btn btn-teamLegend" id="finalizeButton" disabled>Update Scores</button>
                                    }
                                    else
                                    {
                                        <a asp-area="Administration" asp-controller="Matches" asp-action="Finalize" asp-route-id="@match.Id"><button class="btn btn-teamLegend" id="finalizeButton">Update Scores</button></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        @foreach (var match in Model.FixtureMatches)
                        {
                            <tr class="row">
                                @{
                                    var homeTeam = match.HomeTeam;
                                    var awayTeam = match.AwayTeam;
                                    var homeTeamBadgeUrl = this.cloudinaryService.BuildTeamBadgePictureUrl(homeTeam.Name, homeTeam.BadgeVersion);
                                    var awayTeamBadgeUrl = this.cloudinaryService.BuildTeamBadgePictureUrl(awayTeam.Name, awayTeam.BadgeVersion);
                                }
                                <td class="col-md-10">
                                    @if (match.IsPlayed)
                                    {
                                        <div class="row d-flex align-items-center">
                                            <div class="col-md-4 text-right">@homeTeam.Name</div>
                                            <div class="col-md-1 text-center"><img src="@homeTeamBadgeUrl" id="fixtureTeamImg" /></div>
                                            <div class="col-md-1">@match.HomeTeamGoals : @match.AwayTeamGoals</div>
                                            <div class="col-md-1 text-center"><img src="@awayTeamBadgeUrl" id="fixtureTeamImg" /></div>
                                            <div class="col-md-4 text-left">@awayTeam.Name</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row d-flex align-items-center">
                                            <div class="col-md-4 text-right">@homeTeam.Name</div>
                                            <div class="col-md-1 text-center"><img src="@homeTeamBadgeUrl" id="fixtureTeamImg" /></div>
                                            <div class="col-md-1">&ndash; : &ndash;</div>
                                            <div class="col-md-1 text-center"><img src="@awayTeamBadgeUrl" id="fixtureTeamImg" /></div>
                                            <div class="col-md-4 text-left">@awayTeam.Name</div>
                                        </div>
                                    }
                                </td>
                                <td class="col-md-2">@match.Date.ToShortDateString()</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>

@section Scripts {
    <script>
        $('#round').change(function () {
            var round = $(this).val();
            url = "/Fixtures/Details?leagueId=6465311c-c24b-4a9c-ad41-3f0136a2d2f7&round=" + round;
            $(location).attr("href", url);
        });
    </script>
}