@model List<TeamLegend.Web.Models.Teams.TeamViewModel>

<table class="table w-75 mx-auto table-hover table-bordered table-sm text-center">
    <thead>
        <tr class="row">
            <th class="col-md-1"><strong>#</strong></th>
            <th class="col-md-5"><strong>Team Name</strong></th>
            <th class="col-md-1"><strong>Played</strong></th>
            <th class="col-md-1"><strong>Scored</strong></th>
            <th class="col-md-1"><strong>Conceded</strong></th>
            <th class="col-md-2"><strong>Goal Difference</strong></th>
            <th class="col-md-1"><strong>Total Points</strong></th>
    </thead>
    <tbody class="text-bold">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr class="row">
                @{ var team = Model[i]; }
                @{ var rowNumber = i + 1; }
                <th class="col-md-1">@rowNumber</th>
                <td class="col-md-5">
                    <div class="row">
                        <div class="col-md-5 text-right" style="padding-right: 5px">
                            <img src='@team.BadgeUrl' id="tableTeamImg" />
                        </div>
                        <div class="col-md-7 text-left" style="padding-left: 5px">
                            <a asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id"> @team.Name</a>
                        </div>
                    </div>
                </td>
                <td class="col-md-1">@team.MatchesPlayed</td>
                <td class="col-md-1">@team.GoalsScored</td>
                <td class="col-md-1">@team.GoalsConceded</td>
                <td class="col-md-2">@team.GoalsScored:@team.GoalsConceded (@team.GoalDifference)</td>
                <td class="col-md-1">@team.TotalPoints</td>
            </tr>
        }
    </tbody>
</table>